/* src/components/Avatar.css */
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.face-icon {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-eye {
  width: 30px; /* Increased width */
  height: 30px; /* Increased height */
  background-color: rgba(90, 155, 255, 1);
  border-radius: 5cm;
  position: absolute;
}

.left-avatar {
  left: 13px; /* Adjusted positioning to keep eyes centered */
  top: 35px; /* Adjusted to match new size */
  animation: blink 1.5s infinite; /* Blink animation */
}

.right-avatar {
  right: 13px; /* Adjusted positioning to keep eyes centered */
  top: 35px; /* Adjusted to match new size */
  animation: blink 1.5s infinite; /* Blink animation */
}
/* Blink animation to make the eyes "close" */
@keyframes blink {
  100%, 60%, 0%{
    height: 25px; /* Adjusted to match new eye size */
  }
  75% {
    height: 5px; /* Adjusted to match new eye size */
  }
}