body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #e2ebf0, #cfd9e2);
    margin: 0;
    flex-direction: column;
    padding: 0 15px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: flex-start; /* Align items to the top */
    position: relative; /* Keeps other positioned elements in context */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}

.chat-container {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 80vh;
    max-height: 700px;
    position: relative;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    background: #CFE2FF;
    max-height: calc(100% - 100px);
}

.chat-message {
    padding: 15px;
    border-radius: 25px;
    margin: 10px 0;
    max-width: 75%;
    word-wrap: break-word;
    display: inline-block;
    font-size: 16px;
}

.user-message {
    background: #5A9BFF;
    color: #fff;
    align-self: flex-end;
    border-bottom-right-radius: 5px;
    animation: slide-in 0.5s ease-out;
    text-align: right;
}

.bot-message {
    background: #FFFFFF;
    color: #333;
    align-self: flex-start;
    border-bottom-left-radius: 5px;
    animation: slide-in 0.5s ease-out;
    text-align: left;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
}

input[type="text"] {
    flex-grow: 1;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 10px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    padding: 15px 25px;
    font-size: 16px;
    color: #fff;
    background: #5A9BFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004080;
}

@keyframes slide-in {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}